.pagination{
  text-align: center;
  ul{
    padding: 10px;
    margin: 10px;
    li{
      padding: 0;
      margin: 0 5px;
      list-style-type: none;
      display: inline-block;
      color: $orange;
      a{
        color: $orange;
        text-decoration: none;
      }
      &.current{
        font-weight: bold;
      }
    }
  }
}